*{
	margin:0;padding:0;
}
li{
	list-style: none;
}
/*导航栏*/
.top{
	background:#f6f6f6 scroll;
	width:100%;
}
.container{
	width:1200px;
}
#nav{
	height:29px;
	margin:0 auto;
	line-height:29px;
}
.ltpart>a{
	color:gray;
	margin-left:18px;
}
.ltpart>a:hover{
	color:red;
}
.rtpart>li{
	float:left;
}
.rtpart .fch{
	width:90px;
	position:relative;
}
.rtpart .fch .myLove{
	
	margin:0 5px;
	color:gray;
	padding-right:10px;
	background:url(../img/index_ico1.png) 45px -36px no-repeat;
}
.rtpart .fch:hover .myLove{
	background:url(../img/index_ico1.png) 45px -49px no-repeat;
}
.rtpart .fch .list-unstyled{
	position:absolute;
	z-index: 99999;
	background:#fff;
	width:90px;
	display: none;
	padding-left:7px;
}
.rtpart .fch .list-unstyled a{
	color:gray;
}
.rtpart .sch{
	float:left;
	margin:0 3px;
}
.rtpart .tch{
	width:140px;
}
.rtpart i{
	float:left;
	width:14px;
	height:22px;
	background:url(../img/index_ico1.png) -4px -5px no-repeat;
}
.rtpart .tch .phone{
	color:red;
	font-weight:bold;
	margin-left:5px;
	padding-right:10px;
	background:url(../img/index_ico1.png) 73px -36px no-repeat;
}
.rtpart .tch .download{
	position:absolute;
	z-index:99999;
	background: #fff;
	display: none;
	width:140px;
}
.rtpart .tch .download>span{
	float:left;
	width:16px;
	font-size:12px;
	line-height:12px;
	padding:12px 24px 0 10px;
}
.rtpart .tch:hover{
	cursor: pointer;
	background:#fff;
}
.rtpart .tch:hover .download{
	display: block;
}
.rtpart .tch:hover .phone{
	background:url(../img/index_ico1.png) 73px -50px no-repeat;
}
.rtpart .foch{
	color:gray;
	font-size:12px;
}
.rtpart .foch .foch-1{
	float:left;
}
.rtpart .foch .foch-2{
	float:left;
	margin-left:4px;
	padding-right:22px;
	height:20px;
	background:url(../img/index_ico1.png) -32px -9px no-repeat;
}
.rtpart .foch .foch-3{
	cursor: pointer;
	float:right;
	margin-left:4px;
	width:22px;
	height:20px;
	background:url(../img/index_ico1.png) -62px -6px no-repeat;
}
.rtpart .foch .foch-3 p{
	display: none;
	width:90px;
	height:140px;
	margin-top:36px;
	line-height:14px;
	text-align: center;
	background:#fff;
}
.rtpart .foch .foch-3 p img{
	width:90px;
	height:90px;
}
.rtpart .foch .foch-3:hover p{
	display: block;
	float:right;
	cursor: pointer;
}
/*右侧二维码*/
.rtfix{
	position:fixed;
	top:250px;
	right:10px;
	width:90px;
}
.rtfix .rtQuickMark{
	cursor: pointer;
	height:80px;
	background:url(../img/wxservice.png) no-repeat;
	background-size:90%;
}
.rtfix .btop{
	cursor: pointer;
	display: none;
	height:62px;
	background:url(../img/backtop.png) -56px 8px no-repeat;
}
/*logo界面*/
.msg{
	font-size:12px;
	color:black;
	height:30px;
	overflow: hidden;
}
.msg1{
	float:left;
}
.msg1 li{
	
	list-style:disc;
	width:132px;
}
.msg1 li a{
	color:black;
	
}
.msg1 li:hover>a{
	text-decoration: none;
}
.msg #btn1{
	width:13px;
	height:13px;
	border:1px solid gray;
	background:url(../img/index_ico1.png) -50px -42px no-repeat;
	float:right;
	margin-top:0px;
	margin-left:-14px;
}
.msg #btn2{
	width:13px;
	height:13px;
	border:1px solid gray;
	background:url(../img/index_ico1.png) -50px -57px no-repeat;
	float:right;
	margin-top:17px;
}
/*广告图*/
.ban{
	width:100%;
}
